a{
  text-decoration: none;
}
.btn-nav{
  border-radius: 200px;
  border: none;
  padding: 25px 25px;
}

.heading-nav-btn{
  background-color: orange;
}

.nav-link{
  font-size: 13px;
  font-weight: 600;
}
.nav-link:hover{
  color: orange !important;
}

.hero-1 h6{
  color: orange !important;
  font-family: cursive ;
}

.hero-1 h1{
  color: black;
  font-weight: 1000;
  font-size: 50px;
}

.hero-1 p{
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.hero-1-btn{
  color: white;
  background-color: orange;
  border-radius: 10px ;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
}

.hero-1-btn2{
  color: white;
  background-color: rgb(34, 139, 34);
  border-radius: 10px ;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
}
.hero-3-dt h6{
  color: black ;
  text-align: end;
}
.hero-3-dt p{
  color: grey;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  text-align: end;
}

.hero-3-btn button{
  border-radius: 50px;
  border: none;
  padding: 15px 15px;

}
.hero-icons a{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.card{
  border: none !important;
  padding: 15px 15px;
  min-height: 300px !important;
}

.item-bg{
 background-color: rgb(245, 238, 231);
}

.item-heading h5{
  color: orange;
  font-family: cursive;
}

.item-heading h2{
  font-weight: 1000 ;
  font-family: 'Times New Roman', Times, serif;
}
.card h6{
  font-size: 18px;
  font-weight: 600;
}

.card p{
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;

}

.cmp-btn{
  color: white;
  background-color: rgb(34, 139, 34);
  border-radius: 10px ;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
}

.btn-prize{
  color: orange;
  border-radius: 10px ;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
  font-size: 25px;

}

.badge-prize{
  color: black;
  font-size: 15px;
}
.cmp-sec1 h5{
  color: orange;
  font-family: cursive;
}

.cmp-sec1 h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
}
.dishes-heading h5{
  color: orange;
  font-family: cursive;
}

.dishes-heading h2{
  color: black;
  
  font-weight: 800; 
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #ffad53ff;
  color: #fff !important;
}

.nav-tabs .nav-link{
 font-size: 15px;
  color: black !important;
  font-weight: 700;
}
.nav-tabs{
  justify-content: center ;
  
    border-bottom: none !important;

}

.items-details h6{
  font-size: 15px !important;
  font-weight: 800;
}

.items-details p{
  font-size: 10px !important;

}

.price{
  color: red;
}

.card-item{
  border: none !important;
  padding: 15px 15px;
  min-height: 100px !important;
  background-color: #fff;
 
}
.dish-btn button{
  color: white;
  background-color: rgb(34, 139, 34);
  border-radius: 10px ;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
}
.special-bg{
  background-color: #1F1E23;
}

.deal-desc h5{
  color: orange;
  font-family: cursive;
}
.deal-desc h1{
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
}
.deal-desc p{
  color: #FFF;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
 
}
.deal-prize{
  color: orange;
  border-radius: 10px ;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
  font-size: 25px;
  background-color: transparent;
}

.dea-prize{
  color: black;
  font-size: 15px;
}

.mobile-details h5{
  color: orange;
  font-family: cursive;
}

.mobile-details h1{
  color: black;
  font-size: 60px;
  font-weight: 800;
}

.staff-details h5{
  color: orange;
  font-family: cursive;
}

.staff-details h1{
  color: black;

  font-weight: 800;
}

.staff-image img{
  border-radius: 50px;
}

.staff-links a{
  color: black !important;
}